$theme:#4186cc;
$theme-dark:#3980c3;
$font-stack: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$txt-color: #222;
$bg-color:#f6f6f6;
$txt-light: #666;

/* General Rules */

body {
	height:100%;
	font-family:$font-stack !important;
	color: $txt-color;
	background:$bg-color;
	text-align:center;
}
p{
	font-size:14px;
}
h1{
	font-size:48px;
	font-weight:200;
	margin:6px;
}
h6{
	text-align:center;
	color:#aaa;
}
#preload{
	position:absolute;
	left:-99999px;
	top:-99999px;
}

/* bootstrap overides */
.btn-primary{
	width:80%;
	:hover{
		color:white;
	}
}
h1,h2,h3,h4,h5,h6{
	font-family:$font-stack !important;
}
input{
	margin:auto;
	margin-bottom:2px;
}

.badge{
	padding: 2px 6px;
	margin-right:4px;
}

.tooltip{
	margin-left: 70px;
}

.tooltip-inner{
	color: #FFF;
	background-color:black;
	border-radius:4px;
	padding:4px 6px 4px 6px;
}


.tooltip-arrow{
	position:absolute;
	border-style:solid;
	border-color:transparent;
	border-top-color:#000;
	margin-top:24.8px;
	margin-left:17px;
	height:0px;
	width:0px;
}

/* containers */
#container{
	position:absolute;
	width:94%;
	height:100%;
	margin:auto;
	margin-left:3%;
}
#containerHome{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display:inline-block;
  width:405px;
  height:410px;
}
#chat{
	height:80%;
}


/* Account management */
#name, #join, #login{
	position:absolute;
	width:100%;
	top:15%;
}
#join, #login{
	#chatLogo{
		margin-bottom:14px;
	}
	.form-control{
		width:315px;
	}
}

#joinClickables, #loginClickables{
	width:300px;
	margin: auto;
}

#joinSet, #loginSet{
	margin-top:10px;
	width:200px;
}

#account, #loginView{
	clear:both;
	float:right;
}

#googleLogin{
	background: url("/img/googleLogin.png") no-repeat;	
	height:40px;
	width:118pxpx;
	margin-top:56px;
	margin-left:96px;
	display:block;
}

#googleLogin:hover{
	background: url("/img/googleLogin_hover.png") no-repeat;	
}

.forgotPass{
	font-size:11px;
	float:right;
	clear:both;
	margin-right:22px;
}

/* Chat Header */
#chatLogo{
	margin:3px auto;
}
#currentInfo{
	width:auto;
	padding:0 4px;
	margin-bottom:3px;
	.caret{
		margin-left:6px;
	}
}
#users{
	h3{
		margin-top: 0;
		margin-bottom: 0;
		line-height: 12px;
		font-size:12px;
	}
	p{
		display: inline-block;
		margin-left: 5px;
		background-color:rgba(0,0,0,0.1);
		border-radius:3px;
		padding: 0 6px 1px;
		font-size: 12px;
	}
}
#users p:first-child{

	margin-left:0;
}
.modal{
	overflow: hidden;
}
.modal-dialog{
	position:fixed;
	left: 0;
	right: 0;
}
	/************************************* Menus **********************************/


  /* removing list styling on sphere lists */

	#deletableSpheres, #nickAddingSpheres, #contactNames, #shareSelection, #pendingRequests, #pendingInvites,  #inviteContacts{
		list-style:none;
	}


	.modal-dialog ul li{
		font-weight:350;
		margin-right: 5px;
	}

	ul li a{
		color: #428bca;
	}

	.modal-dialog li a:hover, .selectedInvite{
		background: #428bca;
		text-decoration: none;
		color: white;
		border-radius:4px;
		font-weight:400;
	}

	.modal-footer button{
		margin-right:10%;
	}


	.dropdown a{
		text-align:left;
	}
	.modal-dialog{
		margin-top: 52px;
	}
	#inviteLink{
		cursor:text;
	}
	/* Buttons */
	#navButtons{
		position:absolute;
		top:0;
		left:0;
	}
	#settings{
		float:left;
		display:block;
		cursor:pointer;
		background:url("/img/settings.png") no-repeat;
		width:32px;
		height:32px;
	}
	#settings:hover{
		background:url("/img/settings_hover.png") no-repeat;
	}



	/* Contacts Menu */
	#contacts{
		float:left;
		display:block;
		cursor:pointer;
		margin-top:1px;
		background:url("/img/contacts.png") no-repeat;
		width:32px;
		height:32px;
	}

	#newRequests{
		position:absolute;
		height:10px;
		width:10px;
		background-color: rgb(237,60,60);
		margin-top:22px;
		right:-1px;
		box-shadow: 0px 1px 1px;
	}

	#newRequests p{
		color:white;
		font-weight: 700;
		font-size: 9px;
	}

	#contactsContent{
		width:250px;
		float:left;
	}

	#contactsContent span{
		float:left;
		padding-right:4px;
	}

	#contacts:hover{
		background:url("/img/contacts_hover.png") no-repeat;
	}

	#contactNames{
		padding: 0px;
		margin-top: 5px;
		float:left;
	}

	#contactNames li{
		float:left;
		clear:left;
	}


	#contactList h5{
		margin-top:0px;
		width:95px;
	}

	#contactAdding{
		width:200px;
	}

	#contactAdding .modal-footer{
		margin-top:35px;
	}

	#contactNotifications p{
		font-size:12px;
	}
	#notFound{
		color:red;
	}

	#found{
		color:green;
	}

	#pendingRequests a, #pendingInvites a{
		padding-right:5px;
	}

	#contactListContainer label{
		margin-right:80px;
	}

	#inviteContacts{
		float:left;
		margin-top:5px;
	}

	#inviteContacts li{
		float:left;
		clear:both
	}

	#inviteContacts a{
		color: black;
	}

	.beingInvited{
		padding-left:5px;
	}

	#shareModal .modal-footer{
		margin-top: 0px;
		padding: 0;	
	}

	#inviteContacts .btn{
		margin-top:10px;
	}



	/* share menus */
	#share_small{
		display:inline-block;
		vertical-align:middle;
		cursor:pointer;
		background:url("/img/share_small.png") no-repeat;
		width:16px;
		height:16px;
	}

	#share_small:hover{
		background:url("/img/share_small_hover.png") no-repeat;
	}



	#drop, #post{
		width:50%;
	}

	#editContent{
		height:100px;
	}


	/* Share Menu */


	#sharePost .modal-header{
		padding-bottom:0px;
	}

	#shareSelection{
		padding-left:0px;
		margin-top:5px;
		margin-bottom:0;
	}

	#shareSelection li{
		display: inline;
		padding-left:25px;
		padding-right:25px;
	}

	#shareSelection li.active{
		border-bottom: 3px solid #428bca;
	}

	#shareSelection li a:hover{
		color: #2a6496;
		background:none;
	}

	#shareRecipients li{
		margin-right:110px;
		text-align:left;
		width:200px;
	}

	#shareRecipients li a:hover{
		padding:3px;
	}


	#shareRecipients ul{
		list-style:none;
		padding-left:0px;
	}

	#shareContacts span, #shareSpheres span{
		padding-right:4px;
	}

	/* nickname change menu */
	
	#nickChange h5{
		font-size:12px;
		padding-top:4px;
	}

	#nickAddingSpheres{
		padding-right:20px;
		padding-top:4px;
	}


	#nickAddingSpheres span{
		font-weight: 200;
	}

	.sphereName{
		padding-left:8px;
	}

	.sphereUpdates{
		background-color: #ED3C3C;
		width: 11px;
		height: 11px;
		position: absolute;
		color: white;
		margin-top: 10px;
		box-shadow: 0px 1px 1px;
		font-weight: bold;
		margin-right: 10px;
		left: 29px;
		text-align: center;
		border-radius: 5px;
		font-size: 8px;
	}

	#selectingSphere{
		height:16px;
		width:16px;
		display:inline-block;
		background: url("/img/select_sphere.png") no-repeat;
		float:left;
	}


	#selectingSphere:hover, #nickAddingSpheres .selected{
		background: url("/img/selected_sphere.png") no-repeat;
	}

	.modal-content{
		display:inline-block;
	}
	#sharePost .modal-content{
		display:block;
	}


	#nickChange .modal-header{
		padding-bottom:0px;
		border-bottom:none;
	}

	/* Delete Menu */

	#deleteSphere p{
		text-align:center; 
	}


/* Tagging */

.tagList{
	list-style:none;
	font-size: 12px;
	padding-top:1px;
	padding-left:9px;
	padding-right:0px;
	min-width:200px;
}

.tagList li{
	display: inline-block;
	margin: 2px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding:4px;
	padding-bottom: 0px;
	float:left;
}

#tagList .modal-body{
	padding:10px 0px 0px 0px;
	display:inline-block;
}

#tagList .modal-footer{
	margin-top: 3px;
}

#tagList ul li{
	margin-right:0px;
}

#tagList #inputTag{
	width: 65%;
	float: left;
}

#tagList #submitTag{
	width: 32%;
	margin-right: 0;
}

/* Password Reset */

.resetNotify{
	font-size:12px;
	display:block;
}

#resetSent{
	color:green;
}

#resetFail{
	color:red;
}

#resetExpired{
	width:350px;
	margin-left:45%;
}

#resetExpired input{
	width:80%;
}

#resetExpired #resetEmail{
	padding-bottom:10px;
}

#resetExpired #resetPass{
	margin-top:20px;
	width:180px;
}

/* Post Icons */

.saveIcon, .chatIcon, .unseenChat, .shareIcon, .viewedIcon, .tagIcon{
	height:16px;
	width:16px;
	display:block;
}


.saveIcon{
	background: url("/img/sphere_add.png") no-repeat;
}

.saveIcon:hover{
	background: url("/img/sphere_add_hover.png") no-repeat;
}

.chatIcon{
	background: url("/img/chat_icon.png") no-repeat;
}

.shareIcon{
	background: url("/img/share_post.png") no-repeat;
}

.tagIcon{
	background: url("/img/tag.png") no-repeat;
}

.shareIcon:hover{
	background: url("/img/share_post_hover.png") no-repeat;
}

.viewedIcon{
	background: url("/img/viewed.png") no-repeat;	
}

.tagIcon:hover{
	background: url("/img/tag_hover.png") no-repeat;
}

.chatIcon:hover, .unseenChat{
	background: url("favicon.png") no-repeat;	
}


#sphereChat{
	min-height:69px;
	box-shadow: 3px 2px 2px #888;
	background: none repeat scroll 0% 0% #F1F1F1;
}

#sphereChatIcon{
	background: url("/img/bigChat.png") no-repeat;
	height:48px;
	width:48px;
	float: left;
	margin-left: 42px;
	margin-top: 10px;
}

#unseenSphereChat{
	background: url("/img/bigChatUnseen.png") no-repeat;
	height:48px;
	width:48px;
	float: left;
	margin-left: 42px;
	margin-top: 10px;
}

#sphereChatTitle{
	color: #428BCA;
	font-size: 16px;
	float: right;
	margin-top: 18px;
	margin-right: 40px;
}

/* Chat Body */
#content{
	position:relative;
	height: 100%; 
	width: 100%; 
	margin:auto;
	text-align:left;
	padding: 0px 0px; /* removed padding on form control so postBox can lock to top */
	p{
		word-wrap:break-word;
		margin-bottom:2px;
	}
	overflow: hidden;
	
}


#feed{
	height: 100%;
}

#feed .post{
	background-color: white;
}

.postBox{
	position:relative;
	top:0;
	left:0;
	width:100%;
	background:$theme;
	text-align:center;
	padding:4px;
	color:white;
}

.postBox .post{
	color:white;
	box-shadow:none; 
}

.postBox a{
	color:#E0E0E0;
}

.postBox .chatIcon{
	display:none;
}

#postViewer .tagIcon{
	float:right;
}

#closePreview{
	position:absolute;
	margin-left: 119px;
	z-index:20;
}

#closePreview img{
	height:12px;
	margin-bottom:2px;
}

#previewLink{
	min-height:75px;
	padding-top: 17px;
	padding-bottom: 10px;
}

#previewLink span{
	color:white;
}

#previewLink img{
	margin-top:0px;
	background:white;	
	padding:2px;
	margin-right:5px;
}


#selectedPost span {
	margin-top:5px;
}

#selectedPost img{
	margin-top:10px;
}

#selectedPost .chatIcon{
	display:none;
}

.textPost{
	font-size:16px;
	color: rgb(8, 34, 48);
}

span.title{
	font-size:14px;
	min-width: 100px;
	max-width:150px;
	color: #353535;
}

span.title.image{
	float:none;
	padding:5px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

span.viewedNum{
	color:rgba(153, 145, 145, 1);
	padding-left:9.5px;
	position:absolute;
	margin-top:6px;
	font-size:9px;
}

.postContent{
	padding-top: 5px;
	overflow:hidden;
}

#postSettings{
	float:right;
	background:url("/img/post_settings.png") no-repeat;
	height:16px;
	width:16px;
	cursor:pointer;
}

#postSettings:hover{
	background:url("/img/post_settings_hover.png") no-repeat;
}

.postButtons{
	height:20px;
}

.postButtons ul{
	padding:5px !important; 
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1.5px solid rgb(238, 238, 238);
}

.postButtons li{
	display:inline;
	padding-left: 6px;
	float:right; 
}

a.post_link img{   /* thumbnail image from crawled page */ 
	max-height: 60px;
	max-width: 80px;
	margin-left: 20px;
	float:left;
	padding-right: 7px;
	padding-bottom: 3px;
}

a.post_image img{	/* linked image url */ 
	float:none; 
	max-width: 140px;
}

.minimize, .maximize{
	float:left;
}

.sender{
	width:100%;
}

.time{
	font-size: 10px;
}

.nameShift{
	float:left;
	padding-left: 7px;
}

.timeShift{
	@extend .nameShift;
	padding-top: 3px;
}

.tag{
	font-size: 11px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding: 2px 3px 0px;
	float:left;
	margin-left:9px;
	max-width: 148px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.chatSender{
	font-weight:bold;
}


/* Controls */
.controls{
	.slimScrollDiv,.slimScrollBar{
		background:none !important;
	}
}


textarea{
	margin:4px 0 6px 0;
	resize: none;
}

#messageBox{
	position:absolute;
	bottom:0;
	margin-bottom:23px;
	width:100%;
	background:#4186cc;
}

#messageBox textarea{
	width:98%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:50px;
}

#send{
	width: 50%;
	margin-bottom:5px;
}

#feedReturn{
	color: white;
}

#postInput{
	height:55px;
}

#urlInput{
	height:35px;
	overflow:hidden;
}

#searchInput{
	height:35px;
	background-color: white;
	width:80%
}

#searchIcon{
	height:24px;
	width:24px;
	position:absolute; 
	background: url("/img/search.png");
	margin-top:7px;
	margin-left:57px;
}

#searchFilter{
	background: url("/img/search_filter.png");
	height:32px;
	width:32px;
	position:absolute;
	margin-left:97px;
	margin-top:2px;
}

#search li a{
	margin-right:4px;
	margin-left: 4px;
}

#search li a:hover{
	background: #3276b1;
	color: white;
}

#search a.active{
	background: #3276b1;
	color: white;
}

#postDropdown{
	margin-left:80px;
	margin-top:10px;
}

.postOption{
	margin-left: 15px;
}

/* Homepage */
#bookmarklet{
	color:white;
	font-weight:bold;
	margin-top:20px;
	padding:12px 30px;
	width:30px;
	background:$theme;
	border:1px solid $theme-dark;
	border-radius:3px;
}
a#bookmarklet{
	background:$theme-dark;
	text-decoration:none;
}


/* Generic Classes */
.error{
	font-size:12px;
	color:$txt-light;
}
.announcement{
	font-size: 16px;
	padding: 14px 12px;
	margin-top: 6px;
	color: gray;
	text-align: center;
	font-style:italic; 
}

.noResults{
	font-size: 16px;
	padding: 14px 12px;
	margin-top: 6px;
	color: gray;
	text-align: center;
	font-style:italic; 
}

.message{
	margin-left: 4px;
	padding-left: 3px;
	padding-right: 6px;
}

.postername{
	font-weight: 600;
}

.post{
	font-size:13px;
	padding:8px 12px;
	margin-top:6px;
	margin-bottom:6px;
	box-shadow: 3px 2px 2px #888888;
	color:#555;
	position:relative; 
	text-align:center;
}

.alert{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:90000;
	text-align:center;
	padding:4px;
	color:white;
	/*background:#9b9b9b;*/
	background:$theme;
}

.gray{
	color:$txt-light;
}

.bold{
	font-weight:700;
}

#dropperControl{
	display:none;
}

#acceptDeletion, #acceptSphereDeletion{
	width:45%;
	float:left;
}

#rejectDeletion, #rejectSphereDeletion{
	width:45%;
}

#sphereDeleteCheck p{
	font-weight:500;
	margin-top:20px;
	color: rgb(250,5,5);
}

@media screen and (max-height:711px) {
	#chat #chatLogo{
		background-image:url("/img/dropsphere_xs.png");
		width:130px;
		height:24px;
	}
}
@media screen and (min-height:712px) {
	#chat #chatLogo{

		background-image:url("/img/dropsphere_sm.png");
		width:197px;
		height:78px;
	}
}