$theme:#4186cc;
$theme-dark:#3980c3;
$font-stack: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$txt-color: #222;
$bg-color:#f6f6f6;
$txt-light: #666;

/* General Rules */
body {
	height:100%;
	font-family:$font-stack !important;
	color: $txt-color;
	background:$bg-color;
	text-align:center;
}
p{
	font-size:14px;
}
h1{
	font-size:48px;
	font-weight:200;
	margin:6px;
}
h6{
	text-align:center;
	color:#aaa;
}
#preload{
	position:absolute;
	left:-99999px;
	top:-99999px;
}

/* bootstrap overides */
.btn-primary{
	width:80%;
	:hover{
		color:white;
	}
}
h1,h2,h3,h4,h5,h6{
	font-family:$font-stack !important;
}
input{
	margin:auto;
	margin-bottom:2px;
}

/* containers */
#container{
	position:absolute;
	width:94%;
	height:100%;
	margin:auto;
	margin-left:3%;
}
#chat{
	height:68%;
}


/* Account management */
#name, #join, #login{
	position:absolute;
	width:100%;
	top:30%;
}
#join, #login{
	#chatLogo{
		margin-bottom:14px;
	}
}
#joinSet, #loginSet{
	margin-top:10px;
}
#account{
	clear:both;
	float:right;
	margin-right:10%;
}

/* Chat Header */
#chatLogo{
	margin:3px;
}
#currentInfo{
	width:auto;
	padding:0 4px;
	margin-bottom:3px;
	.caret{
		margin-left:6px;
	}
}
#users{
	h3{
		margin-top: 0;
		margin-bottom: 0;
		line-height: 12px;
		font-size:12px;
	}
	p{
		display: inline-block;
		margin-left: 5px;
		background-color:rgba(0,0,0,0.1);
		border-radius:3px;
		padding: 0 6px 1px;
		font-size: 12px;
	}
}
#users p:first-child{
	margin-left:0;
}
	/* Menus */
	.dropdown a{
		text-align:left;
	}
	.modal-dialog{
		margin-top: 52px;
	}
	#inviteLink{
		cursor:text;
	}
	/* Buttons */
	#navButtons{
		position:absolute;
		top:0;
		left:0;
	}
	#settings{
		float:left;
		display:block;
		cursor:pointer;
		background:url("/img/settings.png") no-repeat;
		width:32px;
		height:32px;
	}
	#settings:hover{
		background:url("/img/settings_hover.png") no-repeat;
	}
	#share{
		float:left;
		display:block;
		cursor:pointer;
		margin-top:1px;
		background:url("/img/share.png") no-repeat;
		width:30px;
		height:30px;
	}
	#share:hover{
		background:url("/img/share_hover.png") no-repeat;
	}

	#drop, #post{
		width:50%;
	}



/* Chat Body */
#content{
	position:relative;
	height:100%; /* maxed out height because div was too short */
	width: 100%; 
	margin:auto;
	text-align:left;
	padding: 0px 0px; /* removed padding on form control so postBox can lock to top */
	p{
		word-wrap:break-word;
		margin-bottom:2px;
	}
	overflow: hidden;
	
}

#feed{
	height: 100%;
}

#feed .post{
	background-color: white;
}

.postBox{
	position:relative;
	top:0;
	left:0;
	width:100%;
	background:$theme;
	text-align:center;
	padding:4px;
	color:white;
}

.postBox .post{
	color:white;
}

.postBox a{
	color:#E0E0E0;
}

.postBox .chatIcon{
	display:none;
}

#closePreview{
	position:absolute;
	margin-left: 119px;
	z-index:20;
}

#previewLink{
	min-height:90px;

}

#previewLink span{
	margin-top:0px;
}

#previewLink img{
	margin-top:0px;
}


#selectedPost span {
	margin-top:5px;
}

#selectedPost img{
	margin-top:10px;
}

#selectedPost .chatIcon{
	display:none;
}

span.title{
	font-size:14px;
	min-width: 100px;
	max-width:150px;
}

span.title.image{
	float:none;
	padding:5px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.postContent{
	min-height:50px;
	padding-top: 5px;
	overflow:hidden;
}

.postButtons{
	height:20px;
}

.postButtons ul{
	padding:5px !important; 
	margin-top: 10px;
	padding-top: 10px;
}

.postButtons li{
	display:inline;
	padding: 3px;
}

a.post_link img{   /* thumbnail image from crawled page */ 
	max-height: 60px;
	max-width: 80px;
	margin-left: 20px;
	float:left;
	padding-right: 7px;
}

a.post_image img{	/* linked image url */ 
	float:none; 
	max-width: 140px;
}

.sender{
	width:100%;
	height:40px;
}

.time{
	font-size: 10px;
}


/* Controls */
.controls{
	.slimScrollDiv,.slimScrollBar{
		background:none !important;
	}
}
textarea{
	margin:4px 0 6px 0;
	resize: none;
}
#send{
	width: 80%;
}

#feedReturn{
	color: white;
}

#postInput{
	height:55px;
}

#urlInput{
	height:32px;
	overflow:hidden;
}


/* Homepage */
#bookmarklet{
	color:white;
	font-weight:bold;
	margin-top:20px;
	padding:12px 30px;
	width:30px;
	background:$theme;
	border:1px solid $theme-dark;
	border-radius:3px;
}
a#bookmarklet{
	background:$theme-dark;
	text-decoration:none;
}
#logo{
	margin-top:200px;
}

/* Generic Classes */
.error{
	font-size:12px;
	color:$txt-light;
}
.announcement{
	font-size:12px;
	padding:14px 12px;
	margin-top:6px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	color:#999;
	text-align:center;
}

.message{
	margin-left: 4px;
	padding-left: 3px;
	padding-right: 6px;
}

.post{
	font-size:12px;
	padding:14px 12px;
	margin-top:6px;
	border-top:1.7px solid #eee;
	border-bottom:1.7px solid #eee;
	color:#999;
	min-height: 120px;
	overflow:hidden;
	position:relative; 
	text-align:center;
}

.alert{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:$theme;
	text-align:center;
	padding:4px;
	color:white;
}

.gray{
	color:$txt-light;
}
.bold{
	font-weight:700;
}
#dropperControl{
	display:none;
}