$font-stack:    Helvetica, sans-serif;
$txt-color: #222;
$bg-color:#ddd;

body {
  font: 140% $font-stack;
  color: $txt-color;
  background:$bg-color;
  text-align:center;
}
#bookmarklet{
	padding:12px 30px;
	width:30px;
	border:1px solid white;
}
#container{
	max-width:1140px;
	min-width:600px;
	margin:auto;
}
#content{
	width: 100%; 
	height: 60%;
	overflow-y: scroll;
	margin:auto;
}