body {
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
  color: #222;
  background: #f6f6f6;
  text-align: center; }

p {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important; }

h1 {
  font-size: 48px;
  font-weight: 200;
  margin: 6px; }

#preload {
  position: absolute;
  left: -99999px;
  top: -99999px; }

#bookmarklet {
  color: white;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 30px;
  width: 30px;
  background: #4186cc;
  border: 1px solid #3980c3;
  border-radius: 3px; }

a#bookmarklet {
  background: #3980c3;
  text-decoration: none; }

#container {
  position: absolute;
  width: 94%;
  height: 100%;
  margin: auto;
  margin-left: 3%; }

#content {
  height: 76%;
  width: 100%;
  margin: auto;
  text-align: left; }
  #content p {
    margin-bottom: 2px; }

#chat {
  height: 72%; }

textarea {
  margin: 9px 0 6px 0;
  resize: none; }

.controls .slimScrollDiv, .controls .slimScrollBar {
  background: none !important; }

#users h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 12px;
  font-size: 12px; }
#users p {
  display: inline-block;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 6px 1px;
  font-size: 12px; }

#users p:first-child {
  margin-left: 0; }

#name, #join, #login {
  position: absolute;
  width: 100%;
  top: 30%; }

#join #chatLogo, #login #chatLogo {
  margin-bottom: 14px; }

#joinSet, #loginSet {
  margin-top: 10px; }

input {
  margin: auto;
  margin-bottom: 2px; }

#logo {
  margin-top: 200px; }

#chatLogo {
  margin: 3px; }

.bold {
  font-weight: 700; }

#account {
  clear: both;
  float: right;
  margin-right: 10%; }

#send {
  width: 80%; }

#currentInfo {
  width: auto;
  padding: 0 4px;
  margin-bottom: 3px; }

.btn-primary {
  width: 80%; }
  .btn-primary :hover {
    color: white; }

.gray {
  color: #666; }

#navButtons {
  position: absolute;
  top: 0;
  left: 0; }

#settings {
  float: left;
  display: block;
  cursor: pointer;
  background: url("/img/settings.png") no-repeat;
  width: 32px;
  height: 32px; }

#settings:hover {
  background: url("/img/settings_hover.png") no-repeat; }

#share {
  float: left;
  display: block;
  cursor: pointer;
  background: url("/img/share.png") no-repeat;
  width: 32px;
  height: 32px; }

#share:hover {
  background: url("/img/share_hover.png") no-repeat; }

.dropdown a {
  text-align: left; }

.modal-dialog {
  margin-top: 52px; }

#dropperControl {
  margin-top: 10px;
  display: none; }

h6 {
  text-align: center;
  color: #aaa; }

.announcement {
  font-size: 12px;
  padding: 14px 12px;
  margin-top: 6px;
  border-top: 1px solid #eee;
  color: #999;
  border-bottom: 1px solid #eee;
  text-align: center; }
