body {
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
  color: #222;
  background: #ddd;
  text-align: center; }

p {
  font-size: 14px; }

h1 {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
  font-size: 48px;
  font-weight: 200;
  margin: 6px; }

a#bookmarklet {
  color: white;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 30px;
  width: 30px;
  background: #4186cc;
  border: 1px solid #3980c3;
  border-radius: 3px; }
  a#bookmarklet :hover {
    background: #3980c3;
    text-decoration: none; }

#container {
  position: absolute;
  width: 80%;
  height: 100%;
  margin: auto;
  margin-left: 10%; }

#content {
  height: 80%;
  width: 100%;
  margin: auto;
  text-align: left; }

#chat {
  height: 76%; }

textarea {
  margin: 9px 0 3px 0; }

#users h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 12px;
  font-size: 12px; }
#users p {
  display: inline-block;
  margin-left: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px;
  border-radius: 3px; }

#name, #join {
  position: absolute;
  width: 100%;
  top: 30%; }

#join #chatLogo {
  margin-bottom: 14px; }
#join #setName {
  margin-top: 10px; }

input {
  margin: auto;
  margin-bottom: 2px; }

#logo {
  margin-top: 200px; }

#chatLogo {
  margin: 3px; }

.bold {
  font-weight: 700; }

#account {
  clear: both;
  float: right;
  margin-right: 10px; }

.btn-primary {
  width: 100%; }
  .btn-primary :hover {
    color: white; }
