- var nicknames = data.nicknames;
- var sphereNames = data.sphereNames;
- var currentSphere = data.currentSphere;
- var feed = data.feed; 
- var posts = data.posts; 
- var announcements = Object.keys(data.announcements);
- var sphereMap = data.sphereMap;

#container
    #chat
        .dropdown
            #navButtons 
                a#settings(data-toggle="dropdown" href="#")
                ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                    li(role="presentation" class="dropdown-header") Profile Settings
                    li(role="presentation")
                        a(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#nameChange" href="#") Change name 
                    li(role="presentation")
                        a(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#nickChange" href="#") Set Nickname 
                    li(role="presentation" class="divider")
                    li(role="presentation")
                        a(role="menuitem" tabindex="-1" href="#" onclick="logout();") Logout 
                a#share(data-toggle="modal" data-target="#shareModal")
        img#chatLogo(src="/img/dropsphere_sm.png")
        .dropdown
            a#currentInfo.btn.btn-primary( data-toggle="dropdown" href="#")
                span#notifications.badge.badge-success
                span#currentSphere
                    =currentSphere 
                    span.caret 
            ul#sphereList.dropdown-menu(role="menu" aria-labelledby="dLabel")
                li.dropdown-header(role="presentation") My Spheres
                each sphereName, i in sphereNames 
                    - var updates = sphereMap[sphereName].updates;
                    li(role="presentation" id="sphereNames")
                        a(class = "sphere" role="menuitem" tabindex="-1" data-toggle="modal" href="#")
                            if updates > 0
                                span.sphereUpdates(id="updates-" + i)
                                    =updates
                                &nbsp;
                            else
                                span(id ="okcircle-" + i class="glyphicon glyphicon-ok-circle") 
                                &nbsp;
                            span.sphereName
                                =sphereName
                li#sphereDivider.divider(role="presentation" )
                li(role="presentation")
                    a#sphereCreate(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#sphereDialog" href="#") <span class="glyphicon glyphicon-plus-sign"></span> Create New Sphere
        audio#notifySound(src="/sounds/waterDrop.ogg" preload="auto")
        #users
            each nickname in nicknames
                p=nickname
        #content(class="form-control")
            .postBox
                 textarea#urlInput(class="form-control" placeholder="URL goes here...")
                 textarea#postInput(class="form-control" maxlength="140" placeholder="Enter a message...")
                 #previewContainer(style="display:none")
                    a#closePreview(href="#" onclick="closePreview();")
                        img(src="/img/close_preview.png")
                    #previewLink(class="post")
                 input#drop(type='button' class="btn btn-primary" value='drop' onclick='getLink();')
                 input#post(type='button' class="btn btn-primary" value='post' onclick='postMsg();')
            #feed 
                if announcements.length > 0
                    each announcement in announcements
                        case announcement
                            when "welcome"
                                p.announcement
                                    =posts[postTime]
                                    <br />
                                    #[a(href='#' data-toggle='modal' data-target='#shareModal') Invite ] whomever you deem worthy to share the web with
                            when "joined"
                                p.announcement 
                                    =posts[postTime]
                if feed.length > 0 
                    each postTime in feed
                        - var post = posts[postTime];
                        - var sender = post['sender'];
                        - var content = post['content'];
                        - var isOwner = post['isOwner'];
                        - var isLink = post['isLink'];
                        - var postID = post['postID'];
                        - var seenConvo = post['seen'];
                        - var memberNum = nicknames.indexOf(sender);
                            .post(data= postID)
                                .sender(class='user'+ memberNum)
                                    if isOwner === true 
                                        .dropdown
                                            a#postSettings(data-toggle="dropdown" href="#")
                                            ul#postDropdown.dropdown-menu(role="menu" aria-labelledby="dLabel")
                                                li(role="presentation")
                                                    a#editOption(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#editPost" href="#")
                                                        span(class="glyphicon glyphicon-pencil")
                                                        span.postOption Edit post
                                                li(role="presentation")
                                                    a(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#nickChange" href="#") 
                                                        span(class="glyphicon glyphicon-trash")
                                                        span#removeOption.postOption Remove Post 

                                    span
                                        .postername=sender 
                                        .time=moment(postTime).format("MMM Do, h:mm a")
                                .postContent
                                    if isLink === true
                                        !=content
                                    else
                                        =content
                                .postButtons  
                                    ul
                                        li
                                            a(href='#')   
                                                img.approveIcon(src="/img/approve_post.png")
                                        li
                                            a(href='#')    
                                                if seenConvo === false 
                                                    img.chatIcon(src="favicon.png")   
                                                else 
                                                    img.chatIcon(src="/img/chat_icon.png")
                                        li
                                            a(href='#')   
                                                img.shareIcon(src="/img/share_post.png")
                                        li
                                            a(href='#')   
                                                img.saveIcon(src="/img/sphere_add.png")
                else
                    if nicknames.length < 2 
                        p.announcement Not that talking to yourself is weird or anything... but perhaps you should &nbsp;
                            #[a(href='#' data-toggle='modal' data-target='#shareModal') Invite ] some friends?
                    else
                        p.announcement It's pretty quiet in here...Maybe you should &nbsp;
                            #[a(href='#' data-toggle='modal' data-target='#shareModal') Invite ] some friends?
        .controls(style="display:none")
            textarea#messageInput(class="form-control" placeholder="Enter a message...")
            input#send(type='button' class="btn btn-primary" value='send')
        #dropperControl.btn-group
            button.btn.btn-default(type="radio" onclick="")
                span.glyphicon.glyphicon-align-center
            button.btn.btn-default(type="radio")
                span.glyphicon.glyphicon-picture
            button.btn.btn-default(type="radio")
                span.glyphicon.glyphicon-link
#shareModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
         .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.modal-title Invite your friends
              
              .modal-body
                label Copy and Paste the link below
                input#inviteLink(class="form-control" placeholder="New Name" value= sphereMap[currentSphere].link readonly="readonly")              

#nameChange.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title New Username  
      
      .modal-body
        input#newName(class="form-control" placeholder="New Name")
      
      .modal-footer
        button#saveName.btn.btn-primary(type="button") Save changes
#nickChange.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title New Sphere Nickname
      .modal-body
        input#newNick(class="form-control" placeholder="New Name")
      
      .modal-footer
        button#saveNick.btn.btn-primary(type="button") Save changes
#sphereDialog.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title Create a sphere
      
      .modal-body
        input#sphereName(class="form-control" placeholder="Sphere name")
      
      .modal-footer
        button#saveSphere.btn.btn-primary(type="button") Save changes
#editPost.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title Edit this post 
      
      .modal-body
        textarea#editContent(class="form-control" )
      
      .modal-footer
        button#saveSphere.btn.btn-primary(type="button") Save changes


#preload
    img(src="/img/settings_hover.png")
    img(src="/img/settings_hover.png")
    img(src="/img/loading.gif")
script.
    // harvest all sphere related data for client tracking/use 
    sphereData = !{JSON.stringify(data)};
    username = sphereData.username;
    nickname = sphereData.nickname;
    nicknames = sphereData.nicknames;
    sphereMap = sphereData.sphereMap;
    currentSphere = sphereData.currentSphere;
    totalUpdates = sphereData.totalUpdates;
    sphereNames = sphereData.sphereNames;
    sphereID = sphereMap[currentSphere].id;
    sphereLink = sphereMap[currentSphere].link;
    posts = sphereData.posts; 
    feed = sphereData.feed;
    approveIcon = "<a href='#'><img class='approveIcon' src='/img/approve_post.png'/></a>";
    shareIcon = "<a href='#'><img class='shareIcon' src='/img/share_post.png'/></a>";
    saveIcon = "<a href='#'><img class='saveIcon' src='/img/sphere_add.png'/></a>";
script.
    $(document).ready(function(){
        $.getScript('/js/chat_bindings.js');
        $.getScript('/js/lib/jquery.slimscroll.min.js')
            .done(function(){
               $.getScript('/js/main.js'); 
            }); 
    });
  
