title= "DropSphere"
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(src='/js/lib/bootstrap.min.js')
script(src='/socket.io/socket.io.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tab.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tooltip.min.js')
script(type="text/javascript" src="/easyxdm/easyxdm.debug.js")
script.
	easyXDM.DomHelper.requiresJSON("/json2.js");
script(src='/js/provider.js')
script(src='/js/login_bindings.js') 
script(src='/js/join_bindings.js')         
script(src='/js/messenger.js')    
link(rel='stylesheet', href='/css/bootstrap.min.css') 
link(rel='stylesheet', href='/style.css') 
link(rel="icon" type="image/png" href="favicon.png")
link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,200' rel='stylesheet' type='text/css') 