#container
    #join
      img#chatLogo(src="/img/dropsphere_sm.png")
      input#email(class="form-control" type="email" placeholder="Email")
      input#username(class="form-control" type="text" placeholder="Name")
      input#password(class="form-control" type="password" placeholder="Password")
      input#setName(type='button' onclick='signup();' value='join' class="btn btn-primary")
