#container
    #join
      img#chatLogo(src="dropsphere_sm.png")
     
      input#email(class="form-control" type="email" placeholder="Email")
      input#username(class="form-control" type="text" placeholder="Username")
      input#password(class="form-control" type="password" placeholder="Password")
      input#setName(type='button', value='join', class="form-control")
script(src='/join_bindings.js')           
script(src='/join.js')  