#container
    #join
      img#chatLogo(src="/img/dropsphere_sm.png")
      input#email.form-control(type="email" placeholder="Email")
      input#username.form-control(type="text" placeholder="Name")
      input#password.form-control(type="password" placeholder="Password")
      input#setName.btn.btn-primary(type='button' onclick='signup();' value='join' data-loading-text="Wait..." )
