#container
    #join
      img#chatLogo(src="/img/dropsphere_sm.png")
      input#joinEmail(class="form-control" type="email" placeholder="Email")
      h5#joinEmailError(class="error")
      input#username(class="form-control" type="text" placeholder="Username")
      h5#usernameError(class="error")
      input#joinPassword(class="form-control" type="password" placeholder="Password")
      h5#joinPassError(class="error")
      input#joinSet(type='button' onclick="signup();" value='login' class="btn btn-primary")
      a#loginView(href="#" onclick='getLogin();') Back to login	       
