#container
	#login
		img#chatLogo(src="/img/dropsphere_sm.png")
		input#loginEmail.form-control(type="email" placeholder="Email")
		h5#loginEmailError(class="error")
		input#loginPassword.form-control(type="password" placeholder="Password")
		h5#loginPassError(class="error")
		input#loginSet.btn.btn-primary(type='button' onclick='login();' value='login' data-loading-text="Wait...")
		a#account(href="#" onclick='getJoin();') Need an account?