doctype html
html
    head
        title= "DropSphere"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/jquery.slimscroll.min.js')
        script(src='/main.js')
        link(rel='stylesheet', href='/bootstrap.min.css') 
        link(rel='stylesheet', href='/style.css') 

    body
        #container
            h1 DropSphere
            #users
            #chat
                #content(class="form-control")
                .controls
                    textarea#messageInput(class="form-control")
                    input#send(type='button',class="form-control" value='send')
    
    script.
      var name = !{JSON.stringify(name)};
    script(src='/chat_bindings.js')  
    script(src='/messenger.js')