doctype html
html
    head
        title= "DropSphere"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/jquery.slimscroll.min.js')
        script(src='/main.js')
        include includes/head

    body
        #container
            #chat
                .dropdown
                    a#settings(data-toggle="dropdown" href="#")
                    ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#nameChange" href="#") Change name 
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Set Nickname 
                        li(role="presentation" class="divider")
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Logout 
                img#chatLogo(src="dropsphere_sm.png")
                .dropdown
                    a#currentSphere(data-toggle="dropdown" href="#")
                    ul#sphereList.dropdown-menu(role="menu" aria-labelledby="dLabel")
                #users
                #content(class="form-control")
                .controls
                    textarea#messageInput(class="form-control" placeholder="Enter a message...")
                    input#send(type='button' class="btn btn-primary" value='send')

        #nameChange.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
         .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.modal-title Change your name
              
              .modal-body
                input(class="form-control" placeholder="New Name")
              
              .modal-footer
                button.btn.btn-primary(type="button") Save changes
    
    script.
      var name = !{JSON.stringify(name)};
    script(src='/chat_bindings.js')  
    script(src='/messenger.js')