doctype html
html
    head
        title= "DropSphere"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/bootstrap.min.css') 
        link(rel='stylesheet', href='/style.css') 

    body
        #container
            a#bookmarklet click me
            #chat
                #content(class="form-control", style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
                .controls
                    input#messageInput(style='width:350px;', class="form-control")
                    input#send(type='button',class="form-control" value='send')
    

    script(src='/loggedIn.js')