doctype html
html
    head
        title= "DropSphere"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/jquery.slimscroll.min.js')
        script(src='/main.js')
        include includes/head

    body
        #container
            #chat
                #settings
                #close
                img#chatLogo(src="dropsphere_sm.png")
                #users
                #content(class="form-control")
                .controls
                    textarea#messageInput(class="form-control" placeholder="Enter a message...")
                    input#send(type='button' class="btn btn-primary" value='send')
    
    script.
      var name = !{JSON.stringify(name)};
    script(src='/chat_bindings.js')  
    script(src='/messenger.js')