doctype html
html
    head
        title= "DropSphere"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/js/lib/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/lib/jquery.slimscroll.min.js')
        script(type="text/javascript" src="/easyxdm/easyxdm.debug.js")
        script.
            easyXDM.DomHelper.requiresJSON("/json2.js");
        script(src='/js/main.js')
        include includes/head

    body
        #container
            #chat
                .dropdown
                    a#settings(data-toggle="dropdown" href="#")
                    ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#nameChange" href="#") Change name 
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Set Nickname 
                        li(role="presentation" class="divider")
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Logout 
                img#chatLogo(src="/img/dropsphere_sm.png")
                .dropdown
                    a#currentInfo(data-toggle="dropdown" href="#")
                        span#notifications.badge.badge-success 
                        span#currentSphere
                    ul#sphereList.dropdown-menu(role="menu" aria-labelledby="dLabel")
                        li(role="presentation" class="divider sphereDivider")
                        li(role="presentation")
                            a#sphereCreate(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#sphereDialog" href="#") <span class="glyphicon glyphicon-plus-sign"></span> Create New Sphere
                #users
                #content(class="form-control")
                .controls
                    textarea#messageInput(class="form-control" placeholder="Enter a message...")
                    input#send(type='button' class="btn btn-primary" value='send')

        #nameChange.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
         .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.modal-title Change your name
              
              .modal-body
                input(class="form-control" placeholder="New Name")
              
              .modal-footer
                button.btn.btn-primary(type="button") Save changes
        #sphereDialog.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
         .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.modal-title Create a sphere
              
              .modal-body
                input#sphereName(class="form-control" placeholder="Sphere name")
              
              .modal-footer
                button#saveSphere.btn.btn-primary(type="button") Save changes

        #preload
            img(src="img/settings_hover.png")
    script.
      var name = !{JSON.stringify(name)};
    script(src='/js/chat_bindings.js')  
    script(src='/js/messenger.js')