doctype html
html
    head
        title= "DropSphere"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/jquery.slimscroll.min.js')
        script(src='/main.js')
        include includes/head

    body
        #container
            #chat(style='display:none;')
                img#chatLogo(src="dropsphere_sm.png")
                #users
                #content(class="form-control")
                .controls
                    textarea#messageInput(class="form-control" placeholder="Enter a message...")
                    input#send(type='button' class="btn btn-primary" value='send')
            #name
              img(src="dropsphere_sm.png")
              p Name
              input#username(class="form-control")
              input#setName(type='button' value='join' class="btn btn-primary")
    script(src='/login_bindings.js')           
    script(src='/chat_bindings.js')
    script(src='/login.js')  