doctype html
html
    head
        title= "DropSphere"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/style.css') 

    body
        a#bookmarklet(style=' display:block; width: 100px; height: 100px; background-color:red;')
        #chat(style='display:none;')
            #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
            .controls
                input#messageInput(style='width:350px;')
                input#send(type='button', value='send')
        #name
          p Name:
          input#username(style='width:350px;')
          input#setName(type='button', value='join')