doctype html
html
    head
        title= "DropSphere"
        link(rel='stylesheet', href='/bootstrap.min.css') 
        link(rel='stylesheet', href='/style.css') 
    body
        #container
            h1 DropSphere
            p drag this button to your bookmarks bar
            a#bookmarklet(href='javascript:(function(){var d=document.createElement("div");d.setAttribute("id", "dropsphere");d.style.width="300px";d.style.height="100%";d.style.background="#eee";d.style.color="#222";d.style.position="fixed";d.style.top="0";d.style.right="0";var i=document.createElement("img");i.setAttribute("src","data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==");i.position="absolute";i.top="48%";d.appendChild(i);document.body.appendChild(d);ifrm=document.createElement("iframe");ifrm.setAttribute("src", "http://192.168.1.10:3500/bookmark");ifrm.style.width="100%";ifrm.style.height="100%";ifrm.style.overflow="hidden";ifrm.style.border="none";d.appendChild(ifrm);})();') drag me baby...