doctype html
html
    head
        title= "DropSphere"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        include includes/head

    body
        #container
            #join
              img#chatLogo(src="dropsphere_sm.png")
              input#email(class="form-control" type="email" placeholder="Email")
              input#password(class="form-control" type="password" placeholder="Password")
              input#setName(type='button' value='login' class="btn btn-primary")
              a#account(href="/join" ) Need an account?
        
        script(src='/login_bindings.js')           
        script(src='/login.js')  