doctype html
html
    head
        title= "DropSphere"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/js/lib/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
        script(type="text/javascript" src="/easyxdm/easyxdm.debug.js")
        script.
            easyXDM.DomHelper.requiresJSON("/json2.js");
        script(src='/js/provider.js')
        script(src='/js/join_bindings.js')       
        script(src='/js/messenger.js')    
        include includes/head

    body
        #container
            #join
              img#chatLogo(src="/img/dropsphere_sm.png")
              input#email(class="form-control" type="email" placeholder="Email")
              input#username(class="form-control" type="text" placeholder="Name")
              input#password(class="form-control" type="password" placeholder="Password")
              input#setName(type='button' onclick="signup();" value='login' class="btn btn-primary")
       
        
