doctype html
html
    head
        title= "DropSphere"
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/js/lib/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js')
        script(src='/js/join_bindings.js')       
        script(src='/js/messenger.js')    
        include includes/head

    body
        #container
            #join
              img#chatLogo(src="/img/dropsphere_sm.png")
              input#joinEmail(class="form-control" type="email" placeholder="Email")
              h5#joinEmailError(class="error")
              input#username(class="form-control" type="text" placeholder="Name")
              h5#usernameError(class="error")
              input#joinPassword(class="form-control" type="password" placeholder="Password")
              h5#joinPassError(class="error")
              input#joinSet(type='button' onclick="signup();" value='login' class="btn btn-primary")
       
        
