doctype html
html
    head   
        include includes/head

    body
        include includes/chat
        script.
          $(document).ready(function(){
            chat = new Chat;
            chat.Connect(nickname);
          });
      
          