doctype html
html
    head 
        include includes/head

    body
        include includes/feed
        script.
          $(document).ready(function(){
            chat = new Chat;
            chat.Connect(nickname);
          });
      
          